/* Estilos Header */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.welcome-text {
  font-size: 2.5rem;
  color: #333; /* Texto en color oscuro */
  margin: 0;
}

.navbar-custom {
  background-color: #0084ff; /* Color naranja para el fondo */
}

.regresar-btn {
  color: #ffc107 !important; /* Cambia el color del texto del botón "Regresar a Inicio" */
  border-color: #ffc107 !important; /* Color del borde */
  font-weight: bold;
  font-size: 1.2rem;
}

.regresar-btn:hover {
  background-color: #e0a800;
  color: white !important;
}

.containerTabla {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #0066ff;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #ffffff;
}

.card-header {
  background-color: #0059ff;
  color: white;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

button {
  margin-right: 10px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #00c3ff;
  border-color: #ff8c00;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
